body{
    margin: 0;
    padding: 0;
    font-family: 'Bellota', cursive;
    background: black;
}
.site-header {
    height: 100vh;
    padding: 0;
    position: relative;
    width: 100%;
    background: linear-gradient(-45deg, #387263, #283877, #238747, #108483);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-position: top center;
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.scroll a {
  padding-top: 70px;
  position: absolute;
  top: 70%;
  left: 70%;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}
a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}



menu{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

.clear{
    clear: both;
}


.slide-toggle{
    display: none;
}

.slidemenu{
    background: black;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.slidemenu label{
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: white;
    opacity: 0.2;
}

.slidemenu label:hover{
  cursor: pointer;
  color: white;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px white;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 100%;
  height: 5px;
  display: block;
  background: white;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 7px;
  background: red;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }